@tailwind base;
@tailwind components;
@tailwind utilities;

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: left;
  align-items: left;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: left;
  justify-content: left;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgba(0, 17, 17, 1);
 
}

.swiper-slide:nth-child(2n) {
  background-color: rgba(0, 17, 17, 1);
}

.swiper-slide:nth-child(3n) {
  background-color: rgba(0, 17, 17, 1);
}

.swiper-slide:nth-child(4n) {
  background-color: rgba(0, 17, 17, 1);
}

.swiper-slide:nth-child(5n) {
  background-color: rgba(0, 17, 17, 1);
}


